.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  text-align: center;
}

.chap{
  list-style: none;
  margin-bottom: 30px;
}
.chap a{
  text-decoration: none;
  background-color: #61dafb;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.content{
  display: flex;
  justify-content: center;
}
.odd{
  background-color: aquamarine;
  padding: 10px;
  margin: 2px;
}
.le{
  background-color: brown;
  padding: 10px;
  margin: 2px;
}

.scroll{
  background-color: aquamarine;
  max-height: 200px;
overflow-y: auto;
}

.dark {
  background-color: black;
  color: white;
}
.light{
  background-color: white;
  color: black;
}